body {
    font-family: 'Poppins', sans-serif;
}

.link-button-1{
    text-decoration: none;
    background-color: #FF5959;
   
   
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.link-button-2{
    text-decoration: none;
    background-color: #FF5959;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
    
    
}




#top-banner {
    background-image: url(donation13.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 10px;
    padding: 5px 25px 10px 20px;
}

.title {
    text-align: center;
    font-weight: 900px;
    font-size: 50px;
    margin-bottom: 0;
}

.content {
    text-align: center;
    padding-bottom: 10px;
}

.link-in {
    text-align: center;
    padding-top: 10px;
   
}

h3 {
    display: inline;
    text-align: center;
    font-weight: 800;
    padding: 30px;
    color: rgb(117, 113, 113);


}

.amount {
    text-align: center;
}

.block-color {
    background-color: rgb(234, 235, 236);
    background-position: 20px;
    border-radius: 5px;
    text-align: center;



}

.touch {
    background-color: rgb(255, 220, 225);
    border-radius: 5px;
    border: 2px rgb(247, 6, 86) solid;
    color: rgb(255, 0, 85);

}

.content-1 {
    text-align: justify;
    padding-bottom: 10px;
    text-align: center;
    color: gray;

}

#padding {
    padding-top: 50px;
    padding: 50px;
}

.part-2 {
    padding-top: 50px;

}

.content-2 {
    padding-top: 50px;
    color: rgb(128, 126, 126)
}





small {
    color: white;
}

#flexible-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 1140px;
    margin: 0 auto;
    


}

#food {
    background-color: #4F9DA61A;
    border-radius: 5px;
    
   

}

#shelter {
    background-color: #FF59591A;
    border-radius: 5px;
}

#education {
    background-color: #FFF4D6;
    border-radius: 5px;
}

.half-width {
    height: 300px;
    width: 300px;
    padding: 20px;
    

}

.half-width img {
    height: 60px;


}
.content-3{
    color: rgb(99, 97, 97);
}
.donate-plan{
    padding-bottom: 10px;


    
    
}
.bonas{
    color: rgb(99, 97, 97);
   
}
.flexible{
    display: flex;
    padding-left: 300px;
    
}
.half-width-1{
    width: 50%;
   padding: 20px;
   padding-top: 100px;
  
}
.half-width-1 img{
    height: 550px;
    width: 550px;
    border-radius: 10px;

}
.title-2{
    
    font-weight: 900px;
    font-size: 50px;
    margin-bottom: 0;
}
.next{
    padding-bottom: 100px;
}



.half-width-2{
    width: 50%;
   padding: 100px;
   padding-top: 100px;
   border-radius: 10px;
}
.half-width-2 img{
    border-radius: 10px;
}
.bonas-1{
    text-align: center;
    padding-bottom: 10px;
    color: rgb(99, 97, 97);
}
.donate-center{
    
    margin: 0 auto ;
}
.news-latter{
    background-color: #FFF4D6;
    text-align: center;
}
.news-article{
    display: flex;
}
.footer-title {
    color: rgb(238, 72, 72);
}
.footer-section{
    background-color: black;
    margin:  10px 300px 5px 300px ;
    background-color: black;
    text-align: center;
    
  
}


